h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 25px;
    
}
h2:hover{
    text-shadow: red -2px 0,
                 cyan 2px 0;
}
header{
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
a:hover{
    text-shadow: red -2px -2px,
                 cyan 2px 2px;
}
main{
    display: flex;
    background: #0370af;
    height: 1200px;
    justify-content: center;
}
.mainblock{
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.maindivs{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: 40px;
    border-radius: 25%;
    transition: 1s;
    background: #000;
    padding: 10px;
}
.maindivs:hover{
    height: 350px;
    width: 350px;
    background: none;
}
main h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 39px;
}
        









body{
    margin: 0;
}